.small-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .small-card {
    width: 40%; 
    margin: 20px;
    justify-content:center;
  }
  .small-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .thumbnail {
    width: 80%;
    height: auto;
  }